.contenido {
    height: 70%;
}

    .contenido h1 {
        color: black;
        padding: 14px 0px;
        text-decoration: none;
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.Contenedor1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 270px;
}

.cuadro-texto {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    height: 30px;
}

    .cuadro-texto label {
        width: 160px;
    }

    .cuadro-texto select {
        width: 40%;
        height: 100%;
    }
    .cuadro-texto > input[type=date] {
        width: 40%;
    }
    .cuadro-texto input[type=number] {
        width: 40%;
        height: 100%;
    }

.tabla {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-left: 15%;
    width: 70%;
}


.contenido3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botona {
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 70px;
    border: 2px solid black;
    margin-left: 10px;
}


    .tabla > th, td, tr {
        border: 1px solid black;
        height: 40px;
        width: 100px;
    }

table {
    width: 100%;
    text-align: center;
}

th {
    border: 1px solid black;
    background: #F0EAEB;
}

.Valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    text-align: center;
}

.Precio {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    font-size: 20px;
    width: 94%;
    justify-content: center;
}


    .Precio > h6 {
        border: 2px solid gray;
        margin-left: 4%;
        width: 200px;
        text-align: center;
    }

.botonB {
    background: black;
    color: white;
    width: 150px;
    height: 110%;
    font-size: 20px;
    border-radius: 15px 15px;
    margin-left: 10px;
}


@media screen and (max-width: 500px) {
    .contenido {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 40px 0px;
    }

        .contenido h1 {
            color: black;
            padding: 14px 0px;
            text-decoration: none;
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

    .contenedor {
        margin-left: 0px;
        padding-left: 10px;
    }

    .Contenedor1 {
        margin: 0px;
    }

    .cuadro-texto {
        margin-top: 3%;
        width: 350px;
    }

        .cuadro-texto label {
            width: 150px;
        }
        .cuadro-texto > input[type=date] {
            width: 120px;
        }
        .cuadro-texto > input[type=number] {
            width: 120px;
        }

        .cuadro-texto select {
            width: 120px;
            height: 100%;
        }

    .tabla {
        overflow-x: auto;
        margin: 20px 5%;
        padding: 0px;
        width: 90%;
    }

    table {
        min-width: 700px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .tabla th, td, tr {
        border: 1px solid black;
        height: 40px;
        width: 100px;
    }

        tr:hover {
            background: #F0EAEB;
        }


    .Precio {
        margin: 3%;
        font-size: 20px;
    }

        .Precio > h6 {
            margin-left: 4%;
            width: 150px;
        }

    .botonB {
        width: 150px;
        height: 110%;
        font-size: 20px;
    }

    .tabla td {
        left: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 940px) and (min-width: 500px) {
    .contenido {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 70px 0px;
    }

        .contenido h1 {
            color: black;
            padding: 14px 0px;
            text-decoration: none;
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

    .contenedor {
        margin-left: 0px;
    }

    .Contenedor1 {
        width: 270px;
        padding: 0px 0px;
        margin: 0px;
    }

    .cuadro-texto {
        margin-top: 3%;
        width: 100%;
    }

        .cuadro-texto form {
            width: 20%;
        }

        .cuadro-texto label {
            width: 150px;
        }
        .cuadro-texto > input[type=date] {
            width: 120px;
        }
        .cuadro-texto > input[type=number] {
            width: 120px;
        }

        .cuadro-texto select {
            width: 120px;
            height: 100%;
        }

    .tabla {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 23px;
        padding-left: 0px;
        margin-left: 20px;
        margin-right: 10px;
        width: 93%;
        overflow-x: auto;
    }

        .tabla > th, td, tr {
            border: 1px solid black;
            height: 40px;
            width: 100px;
        }

    table {
        width: 1200px;
        width: 100%;
        text-align: center;
    }

    .tabla th {
        width: 0px;
    }

    th {
        border: 1px solid black;
        background: #F0EAEB;
    }

    .Valor {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

        .Valor label {
            width: 100px;
        }

    .Precio {
        display: flex;
        flex-wrap: wrap;
        margin: 3%;
        font-size: 20px;
    }

        .Precio > h6 {
            border: 2px solid gray;
            margin-left: 4%;
            width: 200px;
            text-align: center;
        }

    .botonB {
        background: black;
        color: white;
        width: 200px;
        height: 110%;
        font-size: 20px;
        border-radius: 15px 15px;
        margin-left: 10px;
    }
}
