.contenido {
    height: 70%;
}

    .contenido h1 {
        color: black;
        padding: 14px 0px;
        text-decoration: none;
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

.contenedor {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.tabla {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-left: 15%;
    width: 70%;
}

    .tabla > th, td, tr {
        border: 1px solid black;
        height: 40px;
        width: 100px;
    }

table {
    width: 100%;
    text-align: center;
}

th {
    border: 1px solid black;
    background: #F0EAEB;
}

.Valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    text-align: center;
}

.botonB {
    background: black;
    color: white;
    width: 150px;
    height: 110%;
    font-size: 20px;
    border-radius: 15px 15px;
    margin-left: 10px;
}


@media screen and (max-width: 500px) {
    .contenido {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 40px 0px;
    }

        .contenido h1 {
            color: black;
            padding: 14px 0px;
            text-decoration: none;
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

    .contenedor {
        margin-left: 0px;
        padding-left: 10px;
    }

    .tabla {
        overflow-x: auto;
        margin: 20px 5%;
        padding: 0px;
        width: 90%;
    }

    table {
        min-width: 700px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .tabla th, td, tr {
        border: 1px solid black;
        height: 40px;
        width: 100px;
    }

    tr:hover {
        background: #F0EAEB;
    }
    .botonB {
        width: 150px;
        height: 110%;
        font-size: 20px;
    }

    .tabla td {
        left: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 940px) and (min-width: 500px) {
    .contenido {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 70px 0px;
    }

        .contenido h1 {
            color: black;
            padding: 14px 0px;
            text-decoration: none;
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

    .contenedor {
        margin-left: 0px;
    }
    .tabla {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 23px;
        padding-left: 0px;
        margin-left: 20px;
        margin-right: 10px;
        width: 93%;
        overflow-x: auto;
    }

        .tabla > th, td, tr {
            border: 1px solid black;
            height: 40px;
            width: 100px;
        }

    table {
        width: 1200px;
        width: 100%;
        text-align: center;
    }

    .tabla th {
        width: 0px;
    }

    th {
        border: 1px solid black;
        background: #F0EAEB;
    }

    .Valor {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

        .Valor label {
            width: 100px;
        }

    .botonB {
        background: black;
        color: white;
        width: 200px;
        height: 110%;
        font-size: 20px;
        border-radius: 15px 15px;
        margin-left: 10px;
    }
}
